input[type="button"] {
  border: none;
  padding: 1rem;
  width: 10rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 14pt;
  cursor: pointer;
  background: $lightAccent;
  color: black;
  border-radius: 8px;
  transition: all 0.1s ease;
  &:hover {
    background: $lightShade;
  }
}
