label {
    font-size: 14pt;
}

.range {
    margin-top: 0.5rem;
}

input[type=number] {
    margin-top: 0.5rem;
}

.input {
    margin-bottom: 1rem;
}

.settings {
    margin-right: 1rem;
    margin-left: 1rem;
    border: solid black 1px;
    padding: 2rem;
    padding-top: 0.5rem;
    width: 12rem;
    heigh: 20%
}
