label {
    font-size: 14pt;
}

.range {
    margin-bottom: -0.5rem;
}

input[type=number] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input {
    margin-bottom: 0.5rem;
}

#settings {
    margin-right: 1.5rem;
    margin-left: 1rem;
    border: solid black 1px;
    padding: 2rem;
    padding-top: 0.5rem;
    width: 10rem;
    heigh: 20%
}
