$track-colour: $bg;
$thumb-colour: $fg;

$thumb-radius: 24px;
$thumb-height: 24px;
$thumb-width: 24px;
$thumb-shadow-size: 0px;
$thumb-shadow-blur: 0px;
$thumb-shadow-colour: rgba(0, 0, 0, .2);
$thumb-border-width: 0px;
$thumb-border-colour: #eceff1;

$track-width: 100%;
$track-height: 5px;
$track-shadow-size: 0px;
$track-shadow-blur: 0px;
$track-shadow-colour: rgba(0, 0, 0, .2);
$track-border-width: 0px;
$track-border-colour: #cfd8dc;

$track-radius: 1px;
$contrast: 5%;

$ie-bottom-track-colour: darken($track-colour, $contrast);

@mixin shadow($shadow-size, $shadow-blur, $shadow-colour) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-colour, 0 0 $shadow-size lighten($shadow-colour, 5%);
}

@mixin track {
  cursor: default;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-colour);
  background: $thumb-colour;
  border: $thumb-border-width solid $thumb-border-colour;
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}

input[type="range"] {
  -webkit-appearance: none;
  background: $track-colour;
  margin: $thumb-height  * 0.76 0;
  width: $track-width;
  height: $track-height;

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-colour, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-colour;
    }

    &::-ms-fill-upper {
      background: lighten($track-colour, $contrast);
    }
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: $track-height / 4;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
  }

  &::-webkit-slider-runnable-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-colour);
    border: $track-border-width solid $track-border-colour;
    border-radius: $track-radius;
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }
}
