@import "colours";
@import "slider";
@import "settings";
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
  font-family: 'Poiret One', cursive;
}

canvas {
  border: solid black 1px;
  width: 85%;
  height: 100%;
}

header {
  font-size: 42pt;
  margin: 1.1rem;
  display: flex;
  justify-content: center;
}

#parent {
  display: flex;
  margin-top: 1rem;
}
