@import "colours";
@import "settings";
@import "colour_picker";
@import "button";
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  font-family: 'Poiret One', cursive;
}

canvas {
  border: solid black 1px;
  width: 70%;
  height: 100%;
  margin-right: 0.5rem;;
  margin-left: 0.5rem;;
}

header {
  font-size: 42pt;
  margin: 1.1rem;
  display: flex;
  justify-content: center;
}

#parent {
  display: flex;
  margin-top: 1rem;
}
